# Compiled Object files
*.o
*.lo
*.la
*.so
*.dll
*.dylib
*.a
*.exe

# Distributions
*.zip
*.tar.gz
*.tgz
*.7z

# Build directories
build/
bin/
Debug/
Release/

# IDE 및 편집기 관련 파일
.vscode/
*.swp
*.~
*.orig
*.bak
.project
.settings/
.classpath
.idea/

# 기타
*.log
*.cache
*.ilk
*.pdb
*.idb
*.sdf
.DS_Store